#section1 {
    background: url(img/1.jpg) 0 50%; /* Koza */
    background-size: cover;
}

#section1_5 {
    background: #392215; /* brown1 */
}

.bg-stretch-left {
    width: 50%;
    background: url(img/2_left.jpg) 70% 0%;
    background-size: cover;
}
.bg-stretch-right {
    width: 50%;
    background: url(img/2_right.jpg) 45% 50%;
    background-size: cover;
}

#section3 {
    background: url(img/3.jpg) 0 50%;
    background-size: cover;
}

#section4_1 {
    background: #B1A992;
}

#section4 {
    background: url(img/4.jpg) 0 0;
    background-size: cover;
}

.s4-stretch-right, .s4-stretch-left{
    width: 50%;
}

#section5 {

}

.s5-stretch-left{
    width: 70%;
    background: url(img/5.jpg) 0 65%;
    background-size: cover;
}

.s5-stretch-right{
    width: 30%;
    background: #1E2F2C;
}

#section6{
    background: url(img/6.jpg) 0 25%;
    background-size: cover;
}

#section7{
    background: url(img/7.jpg) 0 0;
    background-size: cover;
}